                <div class="col-md-7"> <!-- left panel -->
                  <div class="panel panel-default" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
                    <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">
                      <p style="margin-bottom:10px;margin-top:10px">
                        <div class="text-center">
                            <h5>Transparencia Focalizada</h5>
                            <hr>
                        </div>
                        <!-- TRANSPARENCIA FOCALIZADA-->
                            <div class="row" align="center">
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/transparencia.png" alt="Transparencia" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Transparencia</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=Estructura" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/estructura.png" alt="Estructura" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Estructura</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=Nomina" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/nomina.png" alt="Nomina" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Nomina</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="#">
                                        <img class="img-responsive" src="iconos_ft/inversion.png" alt="Inversion" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Inversion</p>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=Convocatorias" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/convocatorias.png" alt="convocatorias" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Convocatorias</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=Adquisiciones" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/adquisiciones.png" alt="Adquisiciones." width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Adquisiciones</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=Obras" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/obras INFEJAL.png" alt="Obras" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Obras</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=AvanceObra" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/avance de obra.png" alt="Avance de obra" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Avance de obra</p>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="http://infejal.gob.mx/TRANSPARENCIA_WEB?V=BuscarEscu" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/buscar escuelas.png" alt="Buscar Escuelas" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Buscar Escuelas</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="https://escuelatransparente.se.jalisco.gob.mx/" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/distribucion_por_fondo.png" alt="Distribución." width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Distribución</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="https://escuelatransparente.se.jalisco.gob.mx/" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/datos abiertos.png" alt="Datos Abiertos" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Datos Abiertos</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                                    <a href="#" target="_blank">
                                        <img class="img-responsive" src="iconos_ft/redes sociales.png" alt="Redes Sociales" width="112" height="111">
                                    </a>
                                    <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Redes Sociales</p>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <div class="col-md-12 col-sm-12 col-xs-12 portfolio-item">
                                    <img class="img-responsive" src="img/jalisco.png" alt="Redes Sociales" width="112" height="111">
                                </div>
                            </div>
                        <!-- /TRANSPARENCIA FOCALIZADA -->
                        <br />
                    </div>
                  </div>
                </div>

                <div class="col-md-5" > <!-- right panel -->
                  <div class="panel panel-default" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
                    <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">
                        <div class="panel panel-danger">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                                            <img class="img-circle img-responsive" src="http://info.jalisco.gob.mx/sites/default/files/organigrama/fotos/lomeli_josue.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                                            <div itemscope="" itemtype="http://schema.org/Person">
                                                                <h5> <span itemprop="name">Arq. Josué Lomelí Rodríguez</span></h5>
                                                                <p itemprop="jobTitle"  style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">DIRECTOR GENERAL</p>
                                                                
                                                                <p style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                                                    <i class="fa fa-map-marker"></i> <span itemprop="addressRegion">Avenida Prolongación Alcalde #1350, Colonia: Miraflores. </span>
                                                                </p>
                                                                <p itemprop="email" style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> <i class="fa fa-envelope"> </i> <a href="#" data-toggle="modal" data-target="#modal-contacto">josue.lomeli@jalisco.gob.mx
                                                                </a> </p>
                                                                <p itemprop="email" style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> <i class="fa fa-envelope"> </i> <a href="mailto" data-toggle="modal" data-target="#modal-contacto-dos">infejal@red.jalisco.gob.mx</a> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 centered-text">
                                                   
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12" > 
                                                    <!--<<a href="https://twitter.com/INFEJAL" class="twitter-follow-button" data-show-count="false"> @INFEJAL</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                                                </div>
                                            </div>
                                        </div>
                        </div>                      
                    </div>
                  </div>
                </div>